.uvc-menu {
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;

  &_wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
  }

  &_trigger {
    position: relative;
    z-index: 3;
  }



  &--active {
    opacity: 1;
    visibility: visible;
  }

  &--fancy {
    .uvc-menu {
      border-radius: 4px;

      &_item {
        padding: 4px 12px;
        background: #222;
        transition: .2s ease-in-out background;
        color: #fff;

        * {
          color: #fff;
        }

        &:hover,
        &:focus-visible {
          background: #444;
        }
      }
    }
  }
}