.uvc-menu {
  display: block;
  position: relative;
  width: fit-content;
  height: fit-content;

  &_wrapper {
    display: block;
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
  }

  &_trigger {
    display: block;
    position: relative;
    width: fit-content;
    height: fit-content;
  }



  &--active {
    opacity: 1;
    visibility: visible;
  }

  &--fancy {
    border-radius: 4px;
    background: #222;

    .uvc-menu {
      &_item {
        padding: 4px 12px;
        transition: .2s ease-in-out background;
        color: #fff;

        * {
          color: #fff;
        }

        &:hover,
        &:focus-visible {
          background: #444;
        }
      }
    }
  }
}